*{margin: 0;padding: 0;box-sizing: border-box;}
#window{width: 400px;height: 300px;margin:10px auto;overflow:hidden; border:1px solid red;font-size: 40px}
#images{position: relative;}
#images>img{position: absolute;width: 100%;transition: all .5s;}

[data='page1']{
    transform: translateX(0);
     z-index: 2;
}
[data='page2']{
    transform: translateX(100%);
}
[data='page3']{
    transform: translateX(200%);
}
[data='page4']{
    transform: translateX(-100%);
    z-index: 1;
}
#images>div{
    display:inline-block;position: absolute;width: 400px;height:300px;transition: all .5s;text-align: center;
}
.current{font-size: 50px;color: pink}

.btns{display: flex;justify-content: center;}
.btns>button{margin: 0 10px}